<a href="https://colab.research.google.com/github/Devopriya-Tirtho/Data-Analytics-Lab-Session/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Lab 4: Python for Data Analytics - Hands-on Exercises

Instructions:
- Use the given CSV file link to load the dataset.
- Answer each question by writing Python code in the respective cell.
- No example code is provided, refer to the lecture slides if needed.

Dataset: Salaries.csv
Link: https://rcs.bu.edu/examples/python/DataAnalysis/Salaries.csv
"""

In [ ]:
# Question 1: Reading the CSV File
# Write a function `load_flights_data(file_path)` to read the `flights.csv` file into a pandas DataFrame and print the first five rows.
import pandas as pd

def load_flights_data(file_path):
    df = pd.read_csv(file_path)
    print(df.head())
    return df

# Load dataset
file_path = "https://rcs.bu.edu/examples/python/DataAnalysis/flights.csv"
df = load_flights_data(file_path)

In [ ]:
# Question 2: Checking for Missing Values
# Write a function `check_missing_values(df)` that returns the total count of missing values in each column of the flights dataset.

In [ ]:
# Question 3: Filtering Missing Data
# Write a function `rows_with_missing_values(df)` that returns all rows containing at least one NaN value.

In [ ]:
# Question 4: Dropping Rows with Missing Values
# Write a function `drop_missing_rows(df)` that removes rows with any missing values and returns the cleaned DataFrame.

In [ ]:
# Question 5: Dropping Columns with All Missing Values
# Write a function `drop_empty_columns(df)` that removes columns where all values are missing.

In [ ]:
# Question 6: Replacing Missing Values with Zero
# Write a function `fill_missing_with_zero(df)` that replaces all NaN values in the dataset with `0`.

In [ ]:
# Question 7: Replacing Missing Values with Column Mean
# Write a function `fill_missing_with_mean(df, column_name)` that replaces missing values in a given column with the columnâ€™s mean.

In [ ]:
# Question 8: Counting Non-Missing Values
# Write a function `count_non_missing(df, column_name)` that returns the count of non-missing values in a specified column.

In [ ]:
# Question 9: Summing Data While Ignoring NaN Values
# Write a function `sum_column_ignore_nan(df, column_name)` that returns the sum of values in a column, treating missing values as zero.

In [ ]:
# Question 10: GroupBy Operations with Missing Values
# Write a function `group_by_carrier_mean_delay(df)` that groups the dataset by airline carrier and calculates the mean departure delay, handling missing values appropriately.

In [ ]:
# Question 11: Identifying Rows with Specific Missing Values
# Write a function `rows_missing_column(df, column_name)` that returns all rows where a specific column has missing values.

In [ ]:
# Question 12: Using `dropna(thresh=n)` for Filtering
# Write a function `filter_rows_with_threshold(df, n)` that drops rows with fewer than `n` non-missing values.

In [ ]:
# Question 13: Using `fillna(method='ffill')` to Forward Fill Missing Data
# Write a function `forward_fill_missing_values(df)` that propagates the last valid observation forward to replace NaNs.

In [ ]:
# Question 14: Using `fillna(method='bfill')` to Backward Fill Missing Data
# Write a function `backward_fill_missing_values(df)` that fills missing values with the next valid observation.

In [ ]:
# Question 15: Using `agg()` to Compute Multiple Statistics
# Write a function `flight_delay_statistics(df)` that computes the `min`, `mean`, and `max` for `dep_delay` and `arr_delay` columns.

In [ ]:
# Question 16: Sorting the DataFrame by Departure Delay
# Write a function `sort_by_dep_delay(df)` that sorts the dataset based on departure delay in descending order.

In [ ]:
# Question 17: Creating a Bar Plot for Airline Delay Averages
# Write a function `plot_airline_delay(df)` that plots the average delay for each airline carrier.

In [ ]:
# Question 18: Filtering Flights Based on Air Time
# Write a function `filter_long_flights(df, min_air_time)` that returns flights with air time greater than a given threshold.